.country_dropdown > button{
    margin:9px;
    padding: 12px 14px;
    border-radius: 10px;
    width:220px;
    font-size: 14px;
    overflow:hidden ;
}
.country_dropdown > ul{
    font-size: 16px;
    top: 52px;
    left: 10px;
    border-radius: 10px;
}